@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta con CSS vars (modo claro/oscuro) */
:root{
  --brand: 222 89% 55%;
  --brand-fg: 222 100% 98%;
  --brand-muted: 222 90% 92%;

  --bg: 0 0% 100%;
  --bg-soft: 210 20% 98%;
  --bg-card: 0 0% 100%;

  --text: 222 47% 11%;
  --text-soft: 222 10% 35%;
  --text-muted: 222 8% 50%;
  
}
.dark{
  --bg: 222 20% 10%;
  --bg-soft: 222 18% 12%;
  --bg-card: 222 22% 14%;

  --text: 0 0% 100%;
  --text-soft: 220 14% 78%;
  --text-muted: 220 10% 60%;

  --brand: 222 89% 62%;
  --brand-fg: 222 100% 10%;
  --brand-muted: 222 36% 22%;
}

/* Reset/opinión */
@layer base{
  html, body, #root { height: 100%; }
  body { @apply bg-bg text-textc font-sans antialiased; }
}

/* Utilidades de diseño propias */
@layer components{
  .card { @apply bg-bg-card rounded-2xl shadow-soft border border-black/5; }
  .btn  { @apply inline-flex items-center justify-center gap-2 rounded-xl px-4 py-2 text-sm font-medium transition-colors active:scale-[.99]; }
  .btn-primary { @apply btn bg-brand text-white hover:brightness-110; }
  .btn-ghost   { @apply btn bg-transparent hover:bg-bg-soft border border-black/5; }
  .input       { @apply w-full rounded-xl border border-black/10 bg-bg px-3 py-2 outline-none focus:border-brand; }
  .badge       { @apply inline-flex items-center rounded-full px-2.5 py-1 text-xs bg-brand-muted text-textc; }
}
.body{
  touch-action: manipulation;
}
input, select, textarea {
  font-size: 16px !important; 
}
html, body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}
